/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

:root {
    --color-font-header:  #6f6f6f;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

.img-full {
    width: 100%;
}

.row-menu .logo-small {
    max-width: 2.25rem;
    margin-top: .5rem;
}

.row-menu .img-nav {
    height: 1.75rem;
}

.row-menu .nav-bottom .img-download {
    height: 1.25rem;
}

.row-menu .nav-bottom .img-profile {
    background-color: #808080;
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 100%;
    margin-bottom: .5rem;
}

.row-menu ul {
    list-style: none;
    margin-top: .625rem;
    font-size: 1.25rem;
}

.row-menu ul li {
    margin-top: .5rem;
}

.list-secondary {
    color: var(--color-font-header);
    margin-top: .875rem;
}

.nav-playlist .fa-plus {
    padding: .5rem;
    background-color: #a3a3a3;
    color: #000000;
    font-weight: 800;
    margin-right: .375rem;
}

.nav-playlist h2 {
    margin-top: 1.625rem;
    font-size: 1.125rem;
    font-weight: 900;
}

.nav-playlist h3 {
    color: var(--color-font-header);
    font-weight: 800;
    font-size: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}


.nav-playlist li {
    color: var(--color-font-header);
    font-weight: 800;
    font-size: .875rem;
    margin-bottom: 1.25rem;
}

.visibile-mobile {
    display: block;
}

.hidden-mobile {
    display: none;
}


/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    
}

.row {
    display: flex;
    height: calc(100% - 6.25rem);
}

.row-albums {
    padding: 1.25rem;
    flex-wrap: wrap;
    gap: 10px;
}

.row-menu {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-albums .col {
    width: calc((100% - 10px) / 2);
}

.row-footer {
    gap: .625rem;
}

.row-footer .col-footer {
    width: calc((100% - 1.25rem) / 3);
}


.gap-10 > .col {
    padding: 10px;
}
.gap-20 > .col {
    padding: 20px;
}
.gap-30 > .col {
    padding: 30px;
}

.grow {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Roboto", serif;
    height: 100vh;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: .375rem 1.875rem;
    font-size: 1rem;
    border-radius: 1.875rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/

header {
    background-color: #000000;
    width: 3.125rem;
    flex-shrink: 0;
    color: #fff;
    overflow-y: auto;
}

.row-menu .nav-top .logo {
    padding: .625rem;
}

.nav-top ul li .icon-menu {
    font-size: 1.125rem;
    margin-right: .5rem;
}

.nav-top .logo-small {
    margin-left: .4375rem;
}

.nav-top ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-menu .nav-playlist {
    display: none;
}


.row-menu .nav-bottom hr {
    margin-right: 1rem;
    margin-top: .625rem;
    margin-bottom: .625rem;
}

.row-menu .nav-bottom .install-app {
    color: var(--color-font-header);
}

.nav-bottom ul li {
    display: flex;
    align-items: center;
    gap: .625rem;
    margin-left: .5rem;
}

.space-header {
    display: none;
 }  

.nav-top .logo-big {
    padding: 10px;
    height: 76px;
    padding-left: 0px;
}

/*----------------
    MAIN
------------------*/

main {
    background-color: #141922;
    flex-grow: 1;
    overflow: auto;
}

.top-main {
    height: 5.625rem;
    background-color: #080b12;
    padding: 1.125rem 0;
    display: flex;
    justify-content: flex-end;
    padding-right: .625rem;
    position: sticky;
    top:0;
    left:0;
    z-index: 10;
}

.categories .menu-categories ul {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    padding: .625rem;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-font-header);
    font-size: 14px;
    font-weight: 600
}

.album-details {
    text-align: center;
    margin-top: .625rem;
}

.album-details > h3 {
    color: #fff;    
}

.album-details > p {
    color: var(--color-font-header);
    margin-top: .625rem;
}

.row-albums .album-img {
    position: relative;
}

.row-albums .album-img .img-overlay {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    display: none;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 3.125rem;
    text-align: center;
}


.row-albums .album-img:hover .img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-albums {
    color: #fff;
    padding: 1.25rem;

}

.second-title-albums {
    color:var(--color-font-header);
    padding: 1.25rem;
}

/*----------------
    FOOTER
------------------*/

footer {
    height: 6.25rem;
    flex-shrink: 0;
    background-color: #282828;
    position:sticky;
    bottom: 0;
    left:0;
}

.sound-album {
    display: flex;
    align-items: center;
    gap: .625rem;
}

.audio-song {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    align-items: center;
}

.img-song {
    height: 1.75rem;
    margin-top: 1.625rem;
    margin-bottom: 1.625rem;
}

.footer-left {
    display: flex;
    margin-right: 1.25rem;
}

.title-audio h4 {
    color: #fff;
    font-size: 1rem;
}

.title-audio p {
    color: var(--color-font-header);
}

.footer-left .icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    color: var(--color-font-header);
    margin-left: 1.5rem;
}

.footer-left .icon .fa-heart, .fa-folder {
    font-size: .875rem;
}

.button-music {
    display: flex;
    gap: 1.25rem;
}


.button-music button {
    font-size: .875rem;
    color: #fff;
    background-color: transparent;
    border: none;
}

.button-music button .fa-circle-play {
    font-size: 2.25rem;
}


.play-music {
    display: flex;
    gap: .875rem;
    align-items: center;
    padding-top: 1rem;
}

.play-music p {
    color: #fff;
    font-size: .75rem;
}

.play-music > hr {
    width: 5.625rem;
    height: .3125rem;
    border-width: 0;
    background-color: var(--color-font-header);
}

.volum {
    display: flex;
    color: #fff;
    gap: 8px;
    align-items: center;
    margin-left: 1.25rem;
}

.volum > hr {
    width: 4.375rem;
    height: .3125rem;
    border-width: 0;
    background-color: var(--color-font-header);
}

.footer-central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 576px */
@media screen and (min-width: 576px) {
    
    header {
        width: 15rem;
    }
    .row-menu {
        text-align: left;
        margin-left: 1rem;
    }
    .row-menu .nav-top > h1 {
        display: flex;
        align-items: center;
    }
    
    .nav-top ul li {
        justify-content: flex-start;
    }
    .row-menu .nav-playlist {
        display: block;
    }
    .space-header {
        display: block;
     }  
    .visibile-mobile {
        display: none;
    }
    
    .hidden-mobile {
        display: block;
    }
    
}
/* MD >= 768px */
@media screen and (min-width: 768px) {
    .row-albums .col {
        width: calc((100% - 30px) / 4);
    }
}

    
/* XL >= 1200px */
@media screen and (min-width: 1200px) {
    .row {
        display: flex;
        height: calc(100% - 5rem);
    }
    .row-albums .col {
        width: calc((100% - 10px) / 2);
    }
    .row-albums .col {
        width: calc((100% - 50px) / 6);
    }
    .categories {
        padding: .625rem
    }
    
    
    footer {
        height: 5rem;
        overflow: hidden;
    }

    .play-music > hr {
        width: 18.75rem;
       
    }
}