/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

:root {
    --color-font-header:  #6f6f6f;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}

.row-menu .logo-small {
    max-width: 2.25rem;
    margin-top: .5rem;
}

.row-menu .img-nav {
    height: 1.75rem;
}

.row-menu .nav-bottom .img-download {
    width: 2.5rem;
    height: 1.25rem;
}

.row-menu .nav-bottom .img-profile {
    background-color: #808080;
    height: 1.875rem;
    width: 1.875rem;
    border-radius: 100%;
    margin-bottom: .5rem;
}

.row-menu ul {
    list-style: none;
    margin-top: .625rem;
    font-size: 1.25rem;
}

.row-menu ul li {
    margin-top: .5rem;
}

.list-secondary {
    color: var(--color-font-header);
    margin-top: .875rem;
}

.nav-playlist .fa-plus {
    padding: .5rem;
    background-color: #a3a3a3;
    color: #000000;
    font-weight: 800;
    margin-right: .375rem;
}

.nav-playlist h2 {
    margin-top: 1.625rem;
    font-size: 1.125rem;
    font-weight: 900;
}

.nav-playlist h3 {
    color: var(--color-font-header);
    font-weight: 800;
    font-size: 1.125rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}


.nav-playlist li {
    color: var(--color-font-header);
    font-weight: 800;
    font-size: .875rem;
    margin-bottom: 1.25rem;
}




/*----------------
    LAYOUT
------------------*/
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    
}

.row {
    display: flex;
    height: calc(100% - 100px);
}

.row-menu {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gap-10 > .col {
    padding: 10px;
}
.gap-20 > .col {
    padding: 20px;
}
.gap-30 > .col {
    padding: 30px;
}

.grow {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Roboto", serif;
    height: 100vh;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: lightcoral;
    color: #fff;
}

/*----------------
    HEADER
------------------*/

header {
    background-color: #000000;
    width: 3.125rem;
    flex-shrink: 0;
    color: #fff;
}


/*----------------
    MAIN
------------------*/

main {
    background-color: violet;
    flex-grow: 1;
    overflow: auto;
}

.title-logo {
    font-size: 1.875rem;
}

.nav-top ul li .icon-menu {
    font-size: 18px;
    margin-right: .5rem;
}

.nav-top ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top ul li span, .title-logo {
    display: none;

}

.row-menu .nav-playlist {
    display: none;
}

.row-menu .nav-bottom hr {
    margin-right: 1rem;
    margin-top: .625rem;
    margin-bottom: .625rem;
}

/*----------------
    FOOTER
------------------*/

footer {
    height: 6.25rem;
    flex-shrink: 0;
    background-color: grey;
    position:sticky;
    bottom: 0;
}

/*----------------
    RESPONSIVE
    Mobile First
------------------*/
/* SM >= 576px */
@media screen and (min-width: 576px) {
    
    header {
        width: 15rem;
    }
    .row-menu {
        text-align: left;
        margin-left: 1rem;
    }
    .row-menu .nav-top > h1 {
        display: flex;
        align-items: center;
    }
    .row-menu .logo-small {
        margin-top: 1.125rem;
        margin-bottom: 1.5rem;
        margin-right: .375rem;
    }
    .nav-top ul li span, .title-logo {
        display: block;
    }
    .nav-top ul li {
        justify-content: flex-start;
    }
    .row-menu .nav-playlist {
        display: block;
    }
}
/* MD >= 768px */
@media screen and (min-width: 768px) {
    
}
/* LG >= 992px */
@media screen and (min-width: 992px) {
    
}
/* XL >= 1200px */
@media screen and (min-width: 1200px) {
    
    footer {
        height: 5rem;
    }
}